<script>
    function handleClick(target) {
        console.log(target)
        console.log(target.src)
        if(target.src.includes("verifyButton")) {
            var mode = getParameterByName('mode');
            var actionCode = getParameterByName('oobCode');
            // (Optional) Get the continue URL from the query parameter if available.
            var continueUrl = getParameterByName('continueUrl');
            // (Optional) Get the language code if available.
            var lang = getParameterByName('lang') || 'en';

            var config = {
                'apiKey': 'AIzaSyARn8P7lNVY0DnVHj_haa321Wyzm9HMKeo'
            };
            var app = firebase.initializeApp(config);
            var auth = app.auth()
            // Get the one-time code from the query parameter.
            var pw = document.getElementById('pw').value;
            var pw2 = document.getElementById('pw2').value;
            if(pw === pw2) {
                auth.verifyPasswordResetCode(actionCode).then(function(email) {
                    var accountEmail = email;
                    auth.confirmPasswordReset(actionCode, pw).then(function(resp) {
                        document.getElementById('changePassword').style.display = "none";
                        document.getElementById('successText').style.display = "block";
                        document.getElementById('successText2').style.display = "block";
                    }).catch(function(error) {
                        console.log(error)
                        document.getElementById('changePassword').style.display = "none";
                        document.getElementById('failText').style.display = "block";
                        document.getElementById('failText2').style.display = "block";
                    });
                }).catch(function(error) {
                    console.log(error)
                    document.getElementById('changePassword').style.display = "none";
                    document.getElementById('failText').style.display = "block";
                    document.getElementById('failText2').style.display = "block";
                });

                // close the window
                setTimeout(function() {
                    close();
                }, 3000);
            } else {
                alert('fail pw!!!', pw, pw2)
            }
        }
    }

    function handleDeleteButton1() {
        document.getElementById('pw').value = "";
    }

    function handleDeleteButton2() {
        document.getElementById('pw2').value = "";
    }

    function checkPwLength(target) {
        var text = target.value;
        if(text.length > 5 && text.length <= 10) {
            document.getElementById('pwL').style.color = "white";
        } else {
            document.getElementById('pwL').style.color = "#eb454f";
        }
        return '';
    }

    function checkPw() {
        var pw = document.getElementById('pw').value;
        var pw2 = document.getElementById('pw2').value;
        var checkLength = false;
        var checkPw = false;
        // Password 길이 확인
        if(pw.length > 5 && pw.length <= 10) {
            document.getElementById('pwL').style.color = "white";
            checkLength = true;
        } else {
            document.getElementById('pwL').style.color = "#eb454f";
        }

        // Password 같은지 확인
        if(pw == pw2) {
            document.getElementById('pwM').style.color = "white";
            checkPw = true;
        } else {
            document.getElementById('pwM').style.color = "#eb454f";
        }

        if(checkLength === true & checkPw) {
            document.getElementById("changePassword").src = "/asset/verifyButton@2x.png";

        }

        return '';
    }
</script>
<div>
    <img border="pixels" style="border-width: 1px; border-color: #aaa; width: 100%;" src="/asset/verifymailImage@3x.png"/>
        <div style="position: absolute;left: 80px; top: 700px;font-size: 38pt;font-family:Brown-Bold; line-height:1.3em; width: 85%">
        <div style="margin-bottom: 12%;">Change Password</div>
        <div style="display:flex; justify-content: space-between;">
            <input id="pw" type="password" placeholder="More than 6 letters"
            onkeyup="checkPw();"
            style="font-family:Brown-Bold; font-size: 38pt; padding: 0 20px; width:100%; border: none; color: #bdbdbd;" />
            <input style="margin: 0 20px; height: 100%; width: auto;" type="image" src="/asset/delete@3x.png" onclick="handleDeleteButton1();"/>
        </div>
        <hr style="margin-block-start: 30px; margin-block-end: 0.1em;" />
        <div id="pwL" style="font-size: 3.2vw;font-family: 'Brown-Regular';color: white; padding: 0 20px;margin-bottom: 1em;">Password must be between 6 and 10 characters long.</div>
        <div style="display:flex; justify-content: space-between;">
            <input id="pw2" type="password" placeholder="Confirm password"
            onkeyup="checkPw();"
             style="font-family:Brown-Bold; font-size: 38pt; padding: 0 20px; width:100%; border: none; color: #bdbdbd;" />
            <input style="margin: 0 20px; height: 100%; width: auto;" type="image" src="/asset/delete@3x.png" onclick="handleDeleteButton2();"/>
        </div>
        <hr style="margin-block-start: 0.5em; margin-block-end: 0.1em;" />
        <div id="pwM" style="font-size: 30px;font-family: 'Brown-Regular';color: white;padding: 0 20px;margin-bottom: 1em;">Passwords do not match.</div>
        <div style="display:flex; justify-content: space-between;">
    </div>
</div>
<input id="changePassword" style="width:900px; position:absolute; top:1300px;left:40px" type="image" src="/asset/changePwDisable@2x.png" onclick="handleClick(this);"/>
<p id="successText" style="display:none; position: absolute;top:1250px;left:130px;font-size: 38pt;font-family:Brown-Bold; line-height:1.3em">
    Success to change password.
</p>
<p id="successText2" style="display:none;position: absolute;top:1350px;left:280px;font-size: 30pt;font-family:Brown-Bold; line-height:1.3em">
    The window will close.
</p>
<p id="failText" style="display:none;position: absolute;top:1250px;left:180px;font-size: 38pt;font-family:Brown-Bold; line-height:1.3em">
    Fail to change password.
</p>
<p id="failText2" style="display:none;position: absolute;top:1350px;left:280px;font-size: 30pt;font-family:Brown-Bold; line-height:1.3em">
    The window will close.
</p>