<!DOCTYPE html>
<html lang="ko" appunwraptag="" >
<script src="https://www.gstatic.com/firebasejs/6.3.1/firebase.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var actionCode = getParameterByName('oobCode');
        var config = {
            'apiKey': 'AIzaSyARn8P7lNVY0DnVHj_haa321Wyzm9HMKeo'
        };
        var app = firebase.initializeApp(config);
        var auth = app.auth()
        auth.checkActionCode(actionCode)
        .then(function(result) {
            return;
        })
        .catch(function(error) {
            alert('The link is invalid. This can happen if the link is malformed, expired, or has already been used.\n The window will close.');

            setTimeout(function() {
                window.close();
            }, 5000);
        })

        var mode = getParameterByName('mode');
        if(mode === 'resetPassword') {
            document.getElementById('changePassword').style.display = "block";
            document.getElementById('successText').style.display = "none";
            document.getElementById('failText').style.display = "none";
        } else {
            document.getElementById('verifyButton').style.display = "block";
            document.getElementById('verifyText').style.display = "none";
            document.getElementById('expiredText').style.display = "none";
        }
        
    }, false);

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css"/>
        <style>
            input::placeholder {
                color: #bdbdbd;
            }
        </style>
    </head>
    <body>
        <% if (mode === 'resetPassword') { %>
            <%- include('resetPassword'); %>
        <% } else { %>
            <%- include('verifyEmail'); %>
        <% } %>
    </body>
</html>
