<script>
    function handleClick() {
        var mode = getParameterByName('mode');
        var actionCode = getParameterByName('oobCode');
        // (Optional) Get the continue URL from the query parameter if available.
        var continueUrl = getParameterByName('continueUrl');
        // (Optional) Get the language code if available.
        var lang = getParameterByName('lang') || 'en';

        var config = {
            'apiKey': 'AIzaSyARn8P7lNVY0DnVHj_haa321Wyzm9HMKeo'
        };
        var auth = firebase.auth()
        var isVerify = false;

        auth.applyActionCode(actionCode).then(function(resp) {
            document.getElementById('verifyButton').style.display = "none";
            document.getElementById('verifyText').style.display = "block";
            document.getElementById('verifyText2').style.display = "block";
	        //    if(navigator.platform === 'iPhone'){
            //        location.href='https://looncupapp.page.link'
            //     } else {
                   location.href='https://looncupapp.page.link/app'
                // }
        }).catch(function(error) {
            document.getElementById('verifyButton').style.display = "none";
            document.getElementById('expiredText').style.display = "block";
            document.getElementById('expiredText2').style.display = "block";
        });
        
        //close the window
        setTimeout(function() {
            window.close();
        }, 3000);
    }
</script>
<img border="pixels" style="border-width: 1px; border-color: #aaa; width: 100%" src="/asset/verifymailImage@3x.png"/>
<div>
    <p style="position: absolute;left: 70px; top: 700px;font-size: 34pt;font-family:Brown-Bold; line-height:1.3em;">
        Hi!<br>
        Welcome to LOON.<br>
        Please click the button below to verify<br>
        your account.
    </p>
</div>
<input id="verifyButton" style="width:900px;position:absolute; top:1200px;left:40px" type="image" src="/asset/verifyMailButton.png" onclick="handleClick();"/>
<p id="verifyText" style="display:none; position: absolute;top:1150px;left:300px;font-size: 38pt;font-family:Brown-Bold; line-height:1.3em">
    Success verify.
</p>
<p id="verifyText2" style="display:none;position: absolute;top:1250px;left:260px;font-size: 30pt;font-family:Brown-Bold; line-height:1.3em">
    The window will close.
</p>
<p id="expiredText" style="display:none;position: absolute;top:1150px;left:210px;font-size: 38pt;font-family:Brown-Bold; line-height:1.3em">
    This mail was expired.
</p>
<p id="expiredText2" style="display:none;position: absolute;top:1250px;left:260px;font-size: 30pt;font-family:Brown-Bold; line-height:1.3em">
    The window will close.
</p>
<!-- <button style="position:absolute;top:670px;left:700px;font-family:Brown-Regular; font-size :13pt; border:0; outline:0" >Contact</button>
<button style="position:absolute;top:670px;left:800px;font-family:Brown-Regular; font-size :13pt; border:0; outline:0">Not my account</button> -->